@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: linear-gradient(to top, #0597F2, #0597F2);
}
.header{
    display: flex;
    width: 100%;
    background-color: #0597F2;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.name{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 400px;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600px;
    margin: 0 30px;
    color: white;
    transition: 0.5s;
}
.navbar a:hover{
    color: #6626BF;
}
.icons a{
    color: white;
    margin: 0 30px;
    font-size: 30px;
    transition: 0.5s;
}
.icons a:hover{
    color: #6626BF;
}
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8%;
    height: 100vh;
    width: 100%;
}
.hero-main{
    margin-top: 150px;
    position: relative;
    bottom: 200px;
    max-width: 690px;
}
.hero-main h1{
    color: white;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}
.hero-main h3{
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-weight: 600px;
    color:#F2D22E;
    margin-bottom: 10px;
}
.hero-main p{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
.botao-contato{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F2D22E;
    max-width: 150px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    transition: 0.5s;
    color: white;
}
.botao-contato:hover{
    background-color: #0597F2;
}
.hero-img{
    display: flex;
    position: relative;
    margin-right: 150px;
    margin-left: 50px;
    margin-top: 180px;
    bottom: 150px;
}
.hero-img img{
    border-radius: 30px;
    height: 550px;
    width: 550px;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about h1 {
    font-family: "Poppins", sans-serif;
    color: white;
    margin-bottom: 50px;
    font-size: 50px;
}
#about p{
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    max-width: 900px;
    margin-bottom: 150px;
    margin-top: 100px;
}
#services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#services h1{
    font-family: "Poppins", sans-serif;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 50px;
}
.Skills{
    display: flex;
    position: relative;
    right: 400px;
    justify-content: space-between;
    padding: 50px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-top: 100px;
}
.html{
    display: flex;
    margin-right: 40px;
    justify-content: flex-start;
}
.html img{
    position: relative;
    bottom: 5px;
    right: 10px;
    height: 32px;
    width: 32px;
}
.html p{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
.CSS{
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
}
.CSS img{
    position: relative;
    bottom: 5px;
    right: 10px;
    height: 32px;
    width: 32px;
}
.CSS p{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
.Git-github{
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
}
.Git-github img{
    position: relative;
    bottom: 5px;
    right: 10px;
    height: 32px;
    width: 32px;
}
.Git-github p{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
.Logica{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-right: 40px;
}
.Logica img{
    position: relative;
    bottom: 5px;
    right: 10px;
    height: 32px;
    width: 32px;
}
.Logica p{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
